{{#each errosLogin}}
  <div class="alert alert-danger">{{texto}}</div>
  {{else}}
{{/each}}

{{#each error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
  {{else}}
{{/each}}

  <h1>Área de login!</h1>
<p>Caso ainda não tenha cadastro, clique abaixo para se cadastrar</p>
<button onclick="window.location='/cadastro'">IR PARA CADASTRO</button>

<form action="/login/novo" method="post">
  <p>Caso e-mail ou senha estejam incorretos, será direcionado para refazer cadastro</p>
  <label for="email">Email: </label>
  <input type="email" name="email" class="form-control">
  <label for="senha">Senha: </label>
  <input type="password" name="senha" class="form-control">
  <button type="submit">ENTRAR</button>
</form>
