<form action="/home" method="post">
<button type = "submit">PUBLICAR CONTEÚDO/IMAGEM/VIDEO</button>
<button type = "button" onClick="window.location='/posts'">LISTA DE PUBLICAÇÕES</button>
</form>

