{{#each errosPostagem}}
  <div class="alert alert-danger">{{texto}}</div>
  {{else}}
{{/each}}

<h1>Página do usuario</h1>
<h2>Publicar conteúdos</h2>
<form action="/home/postagens" method="post">
  <p>titulo: </p>
  <input type="varchar" name="titulo">
  <p>conteudo:</p>
  <textarea type="text" name="conteudo"></textarea>
  <button type="submit">PUBLICAR</button>
</form>

    <form action='file/upload' method='post' encType="multipart/form-data">
        <input type="file" name="file" />
        <input type='submit' value='Upload!' />
    </form>
