<h1>LISTA DE POST:</h1>

<html lang="en">
<head>
</head>
<body>
    <center>
        <p> Busque Aqui </p>
        <form action="/search" method="get">
            <input type="text" name="query" />
            <input type="submit" value="BUSCAR" />
        </form>
        <script type="text/javascript">
            if(results){
                if(list.length > 0){
        <b>Resultados da pesquisa por = search :</b>
        <ul>
             list.forEach(function(item){
                <li>= item.titulo  (= item.nome)</li>
             });
        </ul>
         } else{
            <b>Nenhum resultado encontrado para = search !</b>
            }
        }
        </script>
    </center>
</body>
</html>
{{#each posts}}
  <h2>{{titulo}}</h2>
  <p>{{conteudo}}</p>
  {{posts}}
  <hr>

{{/each}}
